<h1>Address Listing</h1>
<%=flash[:notice]%>

<ol>
  <%for address in @addresses %>
      <li>
        <%=address.name%>
        <%=address.address%>
        <%=address.phone%>
        <%=link_to("Edit", :controller=>"main", :action=>"edit", :id=>address)%>
        <%=link_to("Delete",
                   url_for(:controller=>"main", :action=>"delete", :id=>address),
                   :confirm=>"Are you sure?")%>
      </li>
  <%end%>
</ol>
<%=link_to("Add New", :action=>"new")%>
