<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @address.name %>
</p>

<p>
  <strong>Office phone:</strong>
  <%= @address.office_phone %>
</p>

<p>
  <strong>Home Number:</strong>
  <%= @address.home_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
